body {
  padding: 2.5rem;
  background-color: black;
  color: white;
}

h1 {
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  padding-right: 1rem;
  background-color: black;
}

img {
  height: 50px;
  width: 50px;
}

button {
  cursor: pointer;
}

p {
  display: none;
}

.outcome {
  font-size: 2rem;
  font-weight: bold;
}

.picks {
  background-color: black;
  border: white 3px solid;
  padding: 2rem;
  border-radius: 50%;
}

.btn {
  display: inline-block;
  margin: 10px 5px;
}

.reset,
.auto-play,
.stop-play {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.result {
  display: block;
  margin-top: 10px;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover,
a:focus {
  color: rgba(255, 255, 255, 0.629);
}

.asc {
  margin-top: 4rem;
}
